
{port_specs, [
    {"priv/phonenumber_util_nif.so", ["c_src/*.cpp"]}
]}.

{port_env, [
	{".*", "CXXFLAGS", "$CXXFLAGS -I /usr/include/phonenumbers/ -g -Wall -Werror -O3 -DI18N_PHONENUMBERS_NO_THREAD_SAFETY"},
    %%{".*", "CXXFLAGS", "$CXXFLAGS -fPIC -shared -g -Wall -Werror -O3 -DI18N_PHONENUMBERS_NO_THREAD_SAFETY"},

    {"(linux|solaris|freebsd|netbsd|openbsd|dragonfly|darwin)",
        "LDFLAGS", "$LDFLAGS -lstdc++ -lphonenumber"}
]}.

{cover_enabled, true}.
{cover_print_enable, true}.